In [5]:
import pandas as pd

In [6]:
data_path = 'data/'

In [7]:
data = pd.read_pickle(f'{data_path}processed/timeseries_2018_through_2023.pkl')

In [8]:
data

,group,date_dateobj,time_idx,ppt,tmax,tmin,tavg,day_length_seconds,final_target,zcta_centroid_longitude,zcta_centroid_latitude
0,010602018,2018-01-01,1,0.000,-12.373,-23.050,-17.712,32917.93,0,-72.631279,42.322286
1,010602018,2018-01-02,2,0.000,-11.380,-23.503,-17.441,32966.96,0,-72.631279,42.322286
2,010602018,2018-01-03,3,0.000,-6.515,-20.415,-13.465,33020.03,0,-72.631279,42.322286
3,010602018,2018-01-04,4,0.211,-4.768,-17.614,-11.191,33077.10,0,-72.631279,42.322286
4,010602018,2018-01-05,5,18.117,-3.950,-14.301,-9.126,33138.11,0,-72.631279,42.322286
...,...,...,...,...,...,...,...,...,...,...,...
183348,989222023,2023-06-26,177,0.000,24.658,9.180,16.919,57269.00,0,-120.881429,47.269309
183349,989222023,2023-06-27,178,0.025,23.835,11.013,17.424,57244.00,0,-120.881429,47.269309
183350,989222023,2023-06-28,179,0.095,24.845,11.073,17.959,57214.00,0,-120.881429,47.269309
183351,989222023,2023-06-29,180,0.020,26.957,11.413,19.185,57179.00,0,-120.881429,47.269309
183352,989222023,2023-06-30,181,0.000,27.680,12.695,20.187,57139.00,0,-120.881429,47.269309